{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <table style="width:80%" border="10" class="mt-5">
    <tr>
      <h1 class="mt-5">Federation of Nepal Gold and Silver Dealers Association</h1>
      <h4>Date:13th/February/2020</h4>

      <th>Particulars</th>
      <th>Selling rate</th>
      <th>Buying rate</th>
    </tr>
    <tr>
      <td>Gold hallmark (10 gram)</td>
      <td>62,671</td>
      <td>60,100</td>
    </tr>

    <tr>
      <td>Gold tejabi (10 gram)</td>
      <td>62,500</td>
      <td>59,927</td>
    </tr>

    <tr>
      <td>Silver (10 gram)</td>
      <td>827</td>
      <td>741</td>
    </tr>

    <tr>
      <td>Gold hallmark / Tola</td>
      <td>73,100</td>
      <td>70,100</td>
    </tr>

    <tr>
      <td>Gold tejabi / Tola</td>
      <td>72,900</td>
      <td>69,900</td>
    </tr>

    <tr>
      <td>Silver / Tola</td>
      <td>965</td>
      <td>865</td>
    </tr>
  </table>
  <h3>Tomorrow after 12:00, the rate may change.</h3>
  <p>Note: In 1 tola there are 11.664 grams.</p>
</div>
<div class="space"></div>
{% endblock %}